<div class="mx-auto">
<h3>本当に退会しますか？</h3>

<p>退会すると、会員登録情報や</br>
これまでの投稿履歴が閲覧できなくなります。</br>
退会する場合は、「退会する」をクリックしてください。</p>


<%= link_to '退会しない',public_customer_path(current_customer),class: "btn btn-success" %>

<%= link_to '退会する',  public_customers_withdrawal_path, method: :patch,data: { confirm: '削除しますか？' } ,class: "btn btn-danger" %>

</div>
