<div id="tags" class="mx-auto">
   <%= render partial: "public/genres/tag_list", locals: { post: @post, genres: @genres } %>
</div>

<div id="tag_form">
  <%= form_with model: @genre, url: public_genres_path, method: :post, local: false do |f| %>
    <%= f.text_field :name, class: "tag_field" %>
    <%= f.submit 'タグを追加' %>
  <% end %>

<%#= form_tag({controller:"posts",action:"index"}, method: :get) do %>
    <%#= text_field_tag :tag, class: "tag_field" %>
    <%#= submit_tag 'タグを追加' %>
<%# end %>
</div>

