// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post-index-img{
 width: 120%;
 height: 230px;
 object-fit: cover;
}

.aaa{
 width: 120%;
}

.like-btn {
 width: 25px;
 height: 30px;
 font-size: 25px;
 border: none;
 color: #808080;
 margin-left: 20px;
 }

.unlike-btn {
 width: 25px;
 height: 30px;
 font-size: 25px;
 border: none;
 color: #e54747;
 margin-left: 20px;
 }