<div class="article-box">
    <%= link_to news.url do %>
      <% if news.urlToImage.present? %>
      <div class="article-body">
        <p class="article-title-name">
          <%= news.title.truncate(30) %>
        </p>
      </div>
        <%= image_tag(news.urlToImage, class: "item-img", style: "width:100px;") %>
      <% else %>
        <%= image_tag("no_image.jpeg", class: "item-img") %>
      <% end %>
      
    <% end %>
    <div class="tags">
      <div class="article-body">
      </div>
    </div>
  </div>