<h1>top</h1>

<% if flash[:alert] %>
<%= flash[:alert] %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>タイトル</th>
      <th>説明</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |postss| %>
    <tr>
      <td>

      </td>
      <td>
        <%= postss.title %>
      </td>
      <td>
         <%= link_to public_post_path(postss.id) do %>
        <%= postss.body %>
         <% end %>
      </td>
    </tr>
    <% end %>
    </tbody>
</table>
</div>
</div>
</div>
