<h2>投稿詳細</h2>


<div class="container">
<div class="row">
<div class="col-5">
</div>
<div class="col-4">

タイトル <%= @post.title %></br>
説明 <%= @post.body %> <br>

<%= link_to '編集する',edit_admin_post_path, class: "btn btn-success" %>
 <%= link_to "削除する", admin_post_path(@post), method: :delete,data: { confirm: '本当に消しますか？' },class: "btn btn-danger" %>
</div>
</div>
</div>